[Unit]
Description=Quackers of Rubberverse - Caddy Web Server

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Container]
Image=ghcr.io/rubberverse/qor-caddy:latest
ContainerName=qor-caddy
Exec=run --config /app/configs/Caddyfile
EnvironmentFile=%h/Environments/Caddy/.env
Volume=%h/Configs/Caddy:/app/configs:ro,Z
Volume=%h/Sites:/app/www/static:ro,Z
Volume=%h/Sockets:/run/tmp:z
Volume=CADDY-LOGS:/app/logs:U,z
Mount=type=bind,source=%h/Appdata/WebServer-Data,dst=/app/.local/share/caddy,U=true,Z
Mount=type=bind,source=%h/Appdata/WebServer-Conf,dst=/app/.config/caddy,U=true,Z
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
# It's better using Socket Activation when on rootless, it provides native performance and has Real IP support.
Network=pasta:--ipv4-only
PublishPort=80:80/tcp
PublishPort=443:443/tcp
PublishPort=443:443/udp
# In case you'll run with rootless networking, you need to add a sysctl to the container to permit it creating a listening port below 1000
# (Not an issue when using Socket Activation)
Sysctl=net.ipv4.ip_unprivileged_port_start=80
Memory=512M
User=%U:%U
# Adjust size to UID+1 of your user account
UserNS=auto:size=1002
