# ~/.config/containers/systemd
[Unit]
Description=Quackers of Rubberverse - Caddy Web Server
AssertPathIsDirectory=%h/Configs/Caddy
AssertPathIsDirectory=%h/Appdata/Caddy
AssertPathExists=%h/Configs/Caddy/Caddyfile
# Make Caddy.socket the dependency service
Requires=Caddy.socket
After=Caddy.socket

[Install]
WantedBy=default.target

[Service]
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
ExecReload=podman exec qor-caddy /app/bin/caddy reload --config /app/configs/Caddyfile --address unix//run/admin.sock

[Container]
Image=ghcr.io/rubberverse/qor-caddy:latest
ContainerName=qor-caddy
Exec=run --config /app/configs/Caddyfile
# Optional, you can remove EnvironmentFile= if you're not passing any custom envs to container
EnvironmentFile=%h/Environments/Caddy/.env
Volume=%h/Configs/Caddy:/app/configs:ro,Z
Volume=CADDY-LOGS:/app/logs:U,z
Mount=type=bind,source=%h/Appdata/Caddy/Data,dst=/app/.local/share/caddy,U=true,Z
Mount=type=bind,source=%h/Appdata/Caddy/Conf,dst=/app/.config/caddy,U=true,Z
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
# SD_NOTIFY
# https://www.man7.org/linux/man-pages/man3/sd_notify.3.html
Notify=true
Network=Caddy.network
# Quad9, dns.sb
DNS=9.9.9.10
DNS=45.11.45.11
UserNS=auto:size=1002
