# Example Socket-activation Caddyfile

#--- Start of Global block ---#
{
    admin unix//run/admin.sock
    auto_https disable_redirects
    order coraza_waf first
    order crowdsec after coraza_waf
    order appsec after crowdsec
    order defender before basic_auth
    order rate_limit after defender
    # Logging
    log default {
        output stdout
        level INFO
        format json
    }
}
#--- End of Global block ---#

#--- Start of Site block ---#
# We'll be re-using https tcp/udp socket bind as a snippet.
import /app/configs/Snippets/References

# Redirect any http://* requests to https:// domain
# This binds HTTP (:80/tcp) socket to it
http:// {
   bind fd/3 {
      protocols h1
   }
   redir https://{host}{uri}
}

# Request wildcard certificate
# This binds fd/4 and fdgram/5 (HTTPS/1.1, HTTPS/2, HTTPS/3) sockets to it
# https:// in front of domain name is important, otherwise Caddy will try to bind HTTP socket to it.
https://*.example.com {
   import bind_https
}

https://example.com {
  import bind_https
  handle_path /example {
    respond "Example path handling." 200
  }
  handle_path /youtube {
    redir https://www.youtube.com/watch?v=dQw4w9WgXcQ 308
  }
  redir blog.example.com{uri} 308
}

https://www.example.com {
   import bind_https
   redir https://example.com{uri} 308
}

# Normal site block example
https://blog.example.com {
    import bind_https
    respond "I'm a very real blog!" 200
}
#--- End of Site block ---#
