name: Make container a thing.

on:
  push:
    tags:
      - 'v*'
    paths-ignore:
      - '**.md'
      - '.github/workflows/**.yaml'
  workflow_dispatch:

jobs:
  build:
    name: Build and push to ghcr
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: read
      actions: write
    defaults:
      run:
        working-directory: .
        shell: bash
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: ghcr.io/amitie10g/binfmt:latest
          platforms: arm64
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=ghcr.io/amitie10g/buildkit:master

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push to ghcr.io
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          build-args: CADDY_MODULES="github.com/mholt/caddy-ratelimit github.com/relvacode/caddy-oidc github.com/fvbommel/caddy-dns-ip-range github.com/WeidiDeng/caddy-cloudflare-ip github.com/fvbommel/caddy-combine-ip-ranges github.com/corazawaf/coraza-caddy/v2 github.com/caddy-dns/cloudflare pkg.jsn.cam/caddy-defender github.com/mholt/caddy-l4/layer4 github.com/porech/caddy-maxmind-geolocation" GO_CADDY_VERSION=v2.10.2 CADDY_DEFENDER=1 ASN_RANGES="AS16276,AS35540,AS45090,AS12876,AS29447,AS54265,AS40476,AS22612,AS32244,AS6188,AS22558,AS40819,AS53824,AS201682,AS63949,AS48337,AS8560,AS51862,AS47583,AS204915,AS24940,AS213230,AS212317,AS14061,AS39690,AS62567,AS133165,AS135340,AS200130,AS201229,AS202018,AS202109,AS205301,AS393406,AS394362,AS40021,AS51167,AS141995" DEBUG=1
          pull: true
          push: true
          file: Containerfile
          tags: rubberverse/qor-caddy:test-latest,rubberverse/qor-caddy:test
